<html ng-app>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
</head>

<body ng-controller="NaverLandCtrl">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">네이버에서 부동산 데이터 검색해 보기</a>
       </div>
    </div>
</div>
<div class="modal hide fade" id="modal-dialog">
    <div class="modal-header">
        <a href="#" class="close" ng-click="cancel()">x</a>
        <h2>열심히 찾고 있어요!<small class="pull-right"><div>{{stat.articles}}건을 찾았습니다.</div><div>{{stat.workers}}개의 일꾼이 도와줍니다!</div></small></h2>
    </div>
    <div class="modal-body center" style="text-align: center;">
        <img src="http://www.drivetravel.com/images/searching.gif" alt="loading">
    </div>
    <div class="modal-footer"><p>&copy;쿵이네 2012</p></div>
</div>
<div class="container">
    <div class="hero-unit">
        <h2>쿵이네 부동산</h2>
        <p>부동산 매물을 합리적으로 비교 분석하여 즐거운 생활을!</p>
        <p>
            <select class="input-medium" ng-model="l1" ng-options="x.value as x.name for x in loc1"></select>
            <select class="input-medium" ng-model="l2" ng-options="x.value as x.name for x in loc2"></select>
            <select class="input-medium" ng-model="l3" ng-options="x.value as x.name for x in loc3"></select>
            <form class="form-search">
                <button type="submit" class="btn btn-danger btn-large" ng-click="fetch()" ng-disabled="processing"><strong>찾아주세요!</strong></button>
                <input type="checkbox" ng-model="A1">매매</input>
                <input type="checkbox" ng-model="B1">전세</input>
                <input type="checkbox" ng-model="B2">월세</input>
                <select class="input-small" ng-model="sortColumn" ng-options="x.value as x.name for x in [{name:'이름',value:'name'},{name:'크기',value:'size'},{name:'수익률',value:'rentalInterest'}]"></select>
            </form>
        </p>
    </div>

    <div class="row" ng-show="data != undefined">
        <div class="span24">
            <h2>{{name(l1,loc1)}} {{name(l2,loc2)}} {{name(l3,loc3)}} 결과입니다!</h2>
            <table class="table table-hover">
                <thead>
                <th>
                <th>면적</th>
                <th>매매</th>
                <th>전세</th>
                <th>월세(보증금)</th>
                <th>월세</th>
                <th>ROI</th>
                </th>
                </thead>
                <tbody>
                <tr ng-repeat="x in filteredData() | orderBy:sortColumn">
                    <td>{{x.name}}</td>
                    <td>{{x.size}}</td>
                    <td>{{x.A1 | number}}</td>
                    <td>{{x.B1 | number}}</td>
                    <td>{{x.B2[0] | number}}</td>
                    <td>{{x.B2[1] | number}}</td>
                    <td ng-show="x.rentalInterest">{{(x.rentalInterest*100).toFixed(2)}}%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>

<hr>

<footer>
    <p>&copy;쿵이네 2012</p>
</footer>

<script type="text/javascript">
    function NaverLandCtrl($scope,$http,$timeout) {
        $scope.cortarNo = 1171010900
        $scope.loc1 = []
        $scope.loc2 = []
        $scope.loc3 = []

        $scope.sortColumn = 'name'

        $scope.filteredData = function() {
            return $scope.data.map(function(x){return x.data}).filter(function(x){
                return ($scope.A1 && x.A1 || !$scope.A1) &&
                        ($scope.B1 && x.B1 || !$scope.B1) &&
                        ($scope.B2 && x.B2 || !$scope.B2)
            })
        }

        $scope.name = function(l,loc) {
            for (var i in loc) {
                if (loc[i].value == l) {
                    return loc[i].name
                }
            }
        }

        $http.get('/cortar/1100000000/1')
                .success(function(data){
                    $scope.loc1 = data
                    $scope.l1 = data[0].value
                })
        $scope.$watch('l1',function() {
            $http.get('/cortar/'+$scope.l1+'/2')
                    .success(function(data){
                        $scope.loc2 = data
                        $scope.loc2.push({value:$scope.l1,name:"전체"})
                        $scope.l2 = data[0].value
                    })
        })
        $scope.$watch('l2',function() {
            $http.get('/cortar/'+$scope.l2+'/3')
                    .success(function(data){
                        $scope.loc3 = data
                        $scope.loc3.push({value:$scope.l2,name:"전체"})
                        $scope.l3 = $scope.l2
                    })
        })
        $scope.$watch('l3',function(){
            $scope.cortarNo = $scope.l3
        })
        $scope.$watch('cortarNo',function(){
            $scope.data = undefined;
        })
        $scope.uri = function() {
            return '/apt/' + $scope.cortarNo
        }
        $scope.processing = false
        $scope.data = undefined
        $scope.fetch = function() {
            $('#modal-dialog').modal('show')
            $scope.processing = true
            $scope.data = undefined
            $scope.ticket = undefined
            $http.post('/ticket')
                    .success(function(data){
                        $scope.ticket = data.ticket;
                        $timeout(function stat(){
                            if ($scope.ticket != data.ticket) return;

                            $http.get('/ticket-stat/'+data.ticket)
                                    .success(function(data){
                                        $scope.stat = data
                                    })
                            $timeout(stat,250)
                        }, 250);
                        $http.get($scope.uri() + "?ticket="+$scope.ticket)
                                .success(function(data){
                                    $scope.ticket = undefined;
                                    console.log(data);
                                    $scope.processing = false
                                    $scope.data = data
                                    $('#modal-dialog').modal('hide')
                                })
                                .error(function(data){
                                    console.log(data);
                                })
                    })
        }
        $scope.cancel = function() {
            if ($scope.ticket != undefined) {
                $http.delete('/ticket/'+$scope.ticket);
            }
        }
    }
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>