<html ng-app>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
</head>

<body ng-controller="NaverLandCtrl">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">네이버에서 부동산 데이터 검색해 보기</a>
       </div>
    </div>
</div>
<div class="container">
    <div class="hero-unit">
        <h2>내 입맛에 맞는 부동산은?</h2>
        <p>부동산 매물을 합리적으로 비교 분석하여 즐겁게 삽시다!</p>
        <p>
        <form class="form-search">
            <div class="input-append">
                <input type="text" class="span2 search-query" ng-model='cortarNo' ng-disabled="processing">
                <button type="submit" class="btn btn-primary" ng-click="fetch()" ng-disabled="processing">뭐가 있나요?</button>
            </div>
        </form>
        </p>
    </div>
    <div class="row" ng-show='processing'>
        <div class="span4">
            <h2>열심히 찾고 있어요!</h2>
            <p>{{uri()}}</p>
        </div>
    </div>
    <div class="row" ng-show="data != undefined">
        <div class="span4">
            <h2>결과입니다!</h2>
            <table class="table table-hover">
                <thead>
                <th>
                <th>매매</th>
                <th>전세</th>
                <th>월세(보증금)</th>
                <th>월세</th>
                </th>
                </thead>
                <tbody>
                <tr ng-repeat="x in data">
                    <td>{{x.name}}</td>
                    <td>{{x.data.A1[0] | number}}</td>
                    <td>{{x.data.B1[0] | number}}</td>
                    <td>{{x.data.B2[0] | number}}</td>
                    <td>{{x.data.B2[1] | number}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>

<hr>

<footer>
    <p>&copy;쿵이네 2012</p>
</footer>

<script type="text/javascript">
    function NaverLandCtrl($scope) {
        $scope.cortarNo = 1171010900
        $scope.uri = function() {
            return 'http://localhost:8080/apartment/' + $scope.cortarNo
        }
        $scope.processing = false
        $scope.data = undefined
        $scope.fetch = function() {
            $scope.processing = true
            $.getJSON($scope.uri()).success(function(data){
                console.log(data);
                $scope.processing = false
                $scope.data = data
                $scope.$apply();
            })
        }
    }
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>